.color-0 {
    background-color: white;
}

.color-1 {
    background-color: red;
}

.color-2 {
    background-color: green;
}

.color-3 {
    background-color: blue;
}

.color-4 {
    background-color: black;
}

.content-buttons {
    text-align: center;
    margin: auto;
    padding: 30px;
}

.content-result {
    font-size: 70px;
    margin: auto;
}

.result-0 {
    background-color: red;
}

.result-1 {
    background-color: green;
}

.result-2 {
    background-color: blue;
}

.button-action {
    margin: 4px;
    background-color: black;
    color: white;
    padding: 8px;
    border-radius: 8px;
    text-transform: "uppercase";
    padding-left: 32px;
    padding-right: 32px;
}